.rodape {
    background-color: #4d63e6;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}   


.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.icons {
    margin-right: 30vh;
}

.rodape p {
    margin-left: 30vh;
}

.logo {
    width: 70px;
    height: 30px;
}

.rodape a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.rodape a:hover {
    text-decoration: underline;
}
